# Catálogo
VITE_TMDB_ACCESS_TOKEN=

# Supabase · seguimiento personal
VITE_SUPABASE_URL=https://gfqudpbtxhquwsrtahnm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SC_pbHjCdVpX1PzPlJUBgA_Fh2pG57n
